<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="welcome-splash">

<section id="header">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">essentials4j - the <span id="perfect">perfect library</span> for every Java 8 project!</h1>
                <br><br>
            </div>
        </div>
        <div class="row row-features">
            <div class="col-md-3">
                <div class="fancy-circle fancy-primary">
                    <span class="fancy-icon feature-icon"><span class="gg"><i class="fa fa-magic"></i></span></span>
                </div>
                <div class="fancy-desc">Simple, elegant & <br><b>straight to the point</b>!</div>
            </div>
            <div class="col-md-3 text-center">
                <div class="fancy-circle fancy-primary">
                    <span class="fancy-icon feature-icon"><span class="gg"><i class="fa fa-check"></i></span></span>
                </div>
                <div class="fancy-desc"><b>100% test coverage</b>,<br>100% docs coverage!</div>
            </div>
            <div class="col-md-3 text-center">
                <div class="fancy-circle fancy-primary">
                    <span class="fancy-icon feature-icon"><span class="gg"><i class="fa fa-star"></i></span></span>
                </div>
                <div class="fancy-desc">Lightweight & self-contained!<br>Only <b>9 classes (15 KB JAR)</b></div>
            </div>
            <div class="col-md-3 text-center">
                <div class="fancy-circle fancy-primary">
                    <span class="fancy-icon feature-icon"><span class="gg"><i class="fa fa-github"></i></span></span>
                </div>
                <div class="fancy-desc">Open-source (Apache License)<br>Source code on <a class="light" href="https://github.com/essentials4j/essentials4j">Github</a></div>
            </div>
        </div>
    </div>
</section>

{{ content }}

<section id="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h5>Developed with <i class="fa fa-heart"></i> by <a class="light" href="http://www.nikolche.com">Nikolche Mihajlovski</a>.</h5>
            </div>
        </div>
    </div>
</section>

</body>
</html>
